*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-extra-small: 0.5rem;
    --font-small: 0.75rem;
    --font-subtitle: 1.125rem;
    --font-title: 1.25rem;
    --font-medium-small: 1.5rem;
    --font-medium: 2rem;
    --font-large: 3rem;
    --font-extra-large: 4rem;
    --max-width: 50rem;
    --background: #0A0A0A;
    --text-color: #F1E3F7;
    --box-color: #1C1C1C;
    --box-border: #161616;
    --productive: #10B981;
    --neutral: #7B6DB8;
    --wasted:#EF4444;
    --vacation:#3B82F6;
    --uncategorized:#5B4070;
    --future: #B4A0C4;
    --border-radius:1.25rem;
    --theme: #3B1E4A;
}

body{
    background-color: var(--background);
    color: var(--text-color);
    /*font-family: "Eczar", serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/

    /*font-family: "Merriweather", serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: <weight>;*/
    /*font-style: normal;*/
    /*font-variation-settings: "wdth" 100;*/

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    /*font-style: normal;*/
    
    padding: 0rem 1rem;
}

/*===================================================*/
/*TOP*/
/*===================================================*/
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--background);
    z-index: 1000;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
}

.left>i{
    cursor: pointer;
    /*font-size: var(--font-subtitle);*/
}

.title-topbar{
    font-size: var(--font-subtitle);
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.year{
    font-size: var(--font-subtitle);
}

.topbar-year-selector{
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 3.4rem;
    right: 1rem;
    padding: 1rem;
    gap: 1.5rem;
    background-color: var(--box-color);
    border:2px solid var(--background);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 1000;
    transition: transform ease-in-out 250ms;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.topbar-year-selector.active{
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.topbar-year-selector>div:hover{
    transform: scale(1.125);
}

/*=====================================================*/
/*Side Bar*/
/*=====================================================*/
.sidebar-out{
    position: fixed;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0.5);
    /*display: none;*/

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /*transition: opacity ease-in-out 6000ms;*/
    transition:
        opacity 200ms ease,
        visibility 0s linear 200ms;
    
}

.sidebar-active{
    /*display: unset;*/
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.sidebar{
    position: absolute;
    height: 100%;
    background-color: var(--box-color);
    top: 0;
    left: 0;
    padding: 2rem;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform ease-in-out 300ms;
}

.sidebar.sidebar-slide{
    transform: translateX(0);
}

.modal-active{
    overflow-y: hidden;
}

.sidebar-heading{
    font-size: var(--font-medium);
    margin-bottom: 3rem;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0.5rem;
}

.sidebar-heading-title{
    width: 100%;
    text-align: center;
}


#sidebar-close-btn{
    cursor: pointer;
    transition: transform ease-in-out 200ms;
}
#sidebar-close-btn:hover{
    transform: scale(1.25);
}

.sidebar-menu{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    gap: 2rem;
    flex-direction: column;
}

.sidebar-debug{
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
}

.sidebar-debug-heading{
    font-size: var(--font-subtitle);
}

.sidebar-debug::before{
    content: "";
    top: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--text-color);
}

.sidebar-debug-menu{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /*align-items: center;*/
    gap: 2rem;
    flex-direction: column;
}
.sidebar-debug-menu>div{
    cursor: pointer;
    transition: transform ease-in-out 200ms;
}

.sidebar-menu-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: transform ease-in-out 200ms;
    
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.sidebar-menu-item-active{
    background: var(--theme);
}

.sidebar-menu-item:hover,.sidebar-debug-menu>div:hover{
    transform: scale(1.125);
}
