.calender-out{
    margin-top: 6rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.calender-total{
    width: 29rem
}

.calender-back-out{
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.calender-back{
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    transition: transform ease-in-out 250ms;
}

.calender-back:hover{
    transform: scale(1.25);
}

.calender-back>i{
    font-size: var(--font-medium);
}

.calender{
    border: 2px solid var(--box-color);
    padding: 1rem;
    border-radius: var(--border-radius);
}

.calender-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calender-head-right{
    cursor: default;
}
.calender-head-left{
    cursor: pointer;
}

.calender-change{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 1rem;*/
    gap: 1rem;
}

.calender-change-btn{
    padding: 0.5rem 1rem;
    flex-grow: 1;
    background: var(--box-color);
    color: var(--text-color);
    font-size: var(--font-title);
    border: 2px solid var(--box-border);
    border-radius: 0.8rem;
    cursor: pointer;
    transition: transform ease-in-out 250ms;
}

.calender-change-btn:hover{
    transform: scale(1.25);
}

.calender-month{
    font-size: var(--font-medium-small);
    font-weight: 700;
}

.calender-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    text-align: center;
    margin: 2rem 0;
    place-items: center;
    cursor: default;
}

.calender-dots{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:1rem;
    text-align: center;
    place-items: center;
    user-select: none;
}

.calender-dot{
    height:4.2rem;
    width: 3rem;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform ease-in-out 250ms;
}

.calender-dot:hover{
    transform: scale(1.125);
}

.calender-dot.productive{
    border: 2px solid var(--productive);
    background: color-mix(in srgb, var(--productive) 50%, transparent);
}

.calender-dot.productive:hover{
    background: var(--productive);
}

.calender-dot.wasted{
    border: 2px solid var(--wasted);
    background: color-mix(in srgb, var(--wasted) 50%, transparent);
}

.calender-dot.wasted:hover{
    background: var(--wasted);
}

.calender-dot.neutral{
    border: 2px solid var(--neutral);
    background: color-mix(in srgb, var(--neutral) 50%, transparent);
}

.calender-dot.neutral:hover{
    background: var(--neutral);
}

.calender-dot.vacation{
    border: 2px solid var(--vacation);
    background: color-mix(in srgb, var(--vacation) 50%, transparent);
}

.calender-dot.vacation:hover{
    background: var(--vacation);
}

.calender-dot.present{
    border: 2px solid var(--text-color);
    background: color-mix(in srgb, var(--text-color) 70%, transparent);
}

.calender-dot.present:hover{
    background: var(--text-color);
    color: var(--background);
}

.calender-dot.future{
    border: 2px solid var(--future);
    background: color-mix(in srgb, var(--future) 50%, transparent);
}

.calender-dot.future:hover{
    background: var(--future);
}

.calender-setter{
    border: 2px solid var(--box-border);
    background: var(--box-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: max-content;
    width: 22rem
}

.calender-setter-head{
    font-size: var(--font-title);
    font-weight: 700;
}

.category-head,.note-head{
    font-size: var(--font-subtitle);
    font-weight: 700;
    margin-bottom: 1.5rem;
    cursor: default;
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.category{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 0.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.category.productive{
    background: color-mix(in srgb, var(--productive) 50%, transparent);
}

.category.productive:hover{
    background: var(--productive);
}

.category.neutral{
    background: color-mix(in srgb, var(--neutral) 50%, transparent);
}

.category.neutral:hover{
    background: var(--neutral);
}

.category.wasted{
    background: color-mix(in srgb, var(--wasted) 50%, transparent);
}

.category.wasted:hover{
    background: var(--wasted);
}

.category.vacation{
    background: color-mix(in srgb, var(--vacation) 50%, transparent);
}

.category.vacation:hover{
    background: var(--vacation);
}

.category-color{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
}

.category-color.productive{
    background: var(--productive);
}

.category-color.wasted{
    background: var(--wasted);
}

.category-color.neutral{
    background: var(--neutral);
}

.category-color.vacation{
    background: var(--vacation);
}

.note-out{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.note{
    flex-grow: 1;
}

#note{
    background: none;
    border: 2px solid var(--box-border);
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    color: var(--text-color);
    resize: vertical;
    border-radius: var(--border-radius);
    min-height: 8rem;
}

.save-btn{
    background: none;
    padding: 1rem;
    border: none;
    border: 2px solid var(--theme);
    background: color-mix(in srgb, var(--theme) 50%, transparent);
    color: var(--text-color);
    border-radius: 1.125rem;
    cursor: pointer;
    transition: background ease-in-out 250ms;
}

.save-btn:hover{
    background: var(--theme);
}

/* CSS for screens ypx wide or smaller */
@media (max-width: 480px) {
    .calender-dot{
        height: 2.8rem;
        width: 2rem;
    }
}
@media (max-width: 895.6px) {
    .calender-setter{
        width: 29rem
    }
}