*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --font-title: 1.75rem;
  --font-subtitle: 1.25rem;
  --font-large: 4rem;
  --background: #0A0A0A;
  --text-color: #F1E3F7;
  --box-color: #1C1C1C;
  --box-border: #161616;
  --productive: #10B981;
  --neutal: #7B6DB8;
  --wasted:#EF4444;
  --vacation:#3B82F6;
  --uncategorized:#5B4070;
  --future: #B4A0C4;
}

div{
    /*border: 2px solid red;*/
}

body{
    background-color: var(--background);
    color: var(--text-color);
    /*font-family: "Eczar", serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/

    /*font-family: "Merriweather", serif;*/
    /*font-optical-sizing: auto;*/
    /*font-weight: <weight>;*/
    /*font-style: normal;*/
    /*font-variation-settings: "wdth" 100;*/

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    /*font-style: normal;*/
    
    line-height: auto;
    padding: 1rem;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: inherit;
}

.left>i{
    cursor: pointer;
    font-size: var(--font-subtitle);
}

.title-topbar{
    font-size: var(--font-title);
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.year{
    font-size: var(--font-subtitle);
}



.head{
    border: 2px solid var(--box-border);
    border-radius: 1.25rem;
    background-color: var(--box-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.5rem;
}

.head-top,.head-middle,.head-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.head-bottom{
    width: 100%;   
    gap: 1rem;
}

.head-percentage{
    font-size: var(--font-large);
    font-weight: 700;
    color: var(--wasted);
}

.head-time{
    font-size: var(--font-title);
    font-weight: 700;
    background-color: var(--box-border);
    padding: 0.5rem 1rem;
    border: 2px solid var(--box-color);
    border-radius: 1.25rem;
}


.head-bottom-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.head-bottom-left,.head-bottom-percentage{
    color: var(--wasted);
}

.progressbar{
    width: 100%;
    height: 0.5rem;
    background-color: var(--box-border);
    border-radius: 1.25rem;
}

.progress-fill {
    width: 45.8%;
    height: 100%;
    background: var(--text-color);
    border-radius: inherit;
    transition: width 0.3s ease;
}

